# dependencies
/node_modules
/.pnp
.pnp.js
/node_modules
package-lock.json

/bun.lockb

# production
/build
/dist

# local env files
.env*.local

servicesKey.json
.env


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
